#template {
	position: absolute;
	background-image: url(../../template.jpg);
	background-repeat: none;
	background-size: 100%;
	height: 10000px;
	z-index: 1;
	opacity: 0.2;
	width: 1280px;
	margin: 0;
}
/* Выше находится стилизация блока,
который находится на странице для 
верстки "пиксель-в-пиксель" */
@font-face{
	font-family: 'MyriadPro-BoldCond';
	src: url(../fonts/MyriadPro-BoldCond.otf);
}
body {
	font-family: 'MyriadPro-BoldCond';
}
#wrapper {
	width: 1280px;
	margin: 0 auto;
}
#header {
	height: 165px;
	background-color: #78C4A5;
	box-shadow: 0 3px 3px 0 #365548;
	-webkit-box-shadow: 0 3px 3px 0 #365548;
	-moz-box-shadow: 0 3px 3px 0 #365548;
}
	#logo {
		height: 165px;
		width: 95px;
		float: left;
		margin: 0 auto 0 77px;
		background-image: url(../images/logo.gif);
		border-radius: 47.5px/82.5px;
		-webkit-border-radius: 47.5px/82.5px;
		-moz-border-radius: 47.5px/82.5px;
		box-shadow: 0 3px 3px 0 #365548;
		-webkit-box-shadow: 0 3px 3px 0 #365548;
		-moz-box-shadow: 0 3px 3px 0 #365548;
	}
	#header h2 {
		display: block;
		width: 320px;
		height: 65px;
		padding: 50px 20px;
		float: left;
	}
	#social {
		height: 165px;
		float: left;
	}
		#social ul {
			width: 200px;
			height: 48px;
		}
		#social ul li {
			padding: 5px;
			width: 48px;
			height: 48px;
			float: left;
		}
		#social ul li:hover {
			cursor: pointer;
		}
		li.vk{
			background: url(../images/social.png) no-repeat 5px 5px;
		}
		li.fb {
			background: url(../images/social.png) no-repeat -53px 5px;
		}
		li.ok {
			background: url(../images/social.png) no-repeat -110px 5px;
		}
	#phone {
		float: right;
	}