#template {
	position: absolute;
	background-image: url(../../template.jpg);
	background-repeat: none;
	background-size: 100%;
	height: 10000px;
	z-index: 1;
	opacity: 0.2;
	width: 1280px;
	margin: 0;
}
/* Выше находится стилизация блока,
который находится на странице для 
верстки "пиксель-в-пиксель" */
@font-face{
	font-family: 'MyriadPro-BoldCond';
	src: url(../fonts/MyriadPro-BoldCond.otf);
}
body {
	font-family: 'MyriadPro-BoldCond';
}
#wrapper {
	width: 1280px;
	margin: 0 auto;
}
#header {
	height: 165px;
	background-color: #78C4A5;
}
	#logo {
		height: 165px;
		width: 95px;
		float: left;
		margin: 0 auto 0 77px;
		background-image: url(../images/logo.gif);
		border-radius: 47.5px/82.5px;
		-webkit-border-radius: 47.5px/82.5px;
		-moz-border-radius: 47.5px/82.5px;
		box-shadow: 0 3px 3px 0 #365548;
	}
	#header h2 {
		padding: 50px 190px;
	}